.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow_active_down {
    width: 11px;
    height: 10px;
    background-position: -10px -10px;
}

.sprite-arrow_active_up {
    width: 11px;
    height: 10px;
    background-position: -41px -10px;
}

.sprite-arrow_down {
    width: 11px;
    height: 10px;
    background-position: -72px -10px;
}

.sprite-arrow_hover_down {
    width: 11px;
    height: 10px;
    background-position: -103px -10px;
}

.sprite-arrow_hover_up {
    width: 11px;
    height: 10px;
    background-position: -134px -10px;
}

.sprite-arrow_up {
    width: 11px;
    height: 10px;
    background-position: -165px -10px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -196px -10px;
}

.sprite-calendar_active {
    width: 21px;
    height: 22px;
    background-position: -237px -10px;
}

.sprite-calendar_hover {
    width: 21px;
    height: 22px;
    background-position: -278px -10px;
}

.sprite-check {
    width: 26px;
    height: 22px;
    background-position: -319px -10px;
}

.sprite-check_ {
    width: 26px;
    height: 22px;
    background-position: -365px -10px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -411px -10px;
}

.sprite-checkbox_ {
    width: 22px;
    height: 22px;
    background-position: -453px -10px;
}

.sprite-desert_stars {
    width: 42px;
    height: 17px;
    background-position: -495px -10px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -557px -10px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -587px -10px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -681px -10px;
}

.sprite-html_academy_logo {
    width: 113px;
    height: 39px;
    background-position: -776px -10px;
}

.sprite-html_academy_logo_active {
    width: 113px;
    height: 39px;
    background-position: -909px -10px;
}

.sprite-html_academy_logo_hover {
    width: 113px;
    height: 39px;
    background-position: -1042px -10px;
}

.sprite-rating_stars {
    width: 89px;
    height: 17px;
    background-position: -1175px -10px;
}

.sprite-souvenir {
    width: 64px;
    height: 76px;
    background-position: -1284px -10px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -1368px -10px;
}

.sprite-villas_stars {
    width: 65px;
    height: 17px;
    background-position: -1405px -10px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -1490px -10px;
}

/*///////////////SPRITE2///////////////////*/
.sprite {
    background-image: url(spritesheet_volume.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -10px -10px;
}

.sprite-minus_active {
    width: 12px;
    height: 3px;
    background-position: -42px -10px;
}

.sprite-minus_hover {
    width: 12px;
    height: 3px;
    background-position: -74px -10px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -106px -10px;
}

.sprite-plus_active {
    width: 11px;
    height: 11px;
    background-position: -137px -10px;
}

.sprite-plus_hover {
    width: 11px;
    height: 11px;
    background-position: -168px -10px;
}
